<div class="">
  <div class="col-12 d-flex justify-content-center align-items-center">
    <button *ngIf="userService.isAuthenticated()" (click)="openPopup()"  mat-button color="primary">Create post</button>
  </div>
  <div class="d-flex flex-wrap p-2">
    <app-post-item (onDeletePost)="deletePost($event)" (onUpdatePost)="updatePost($event)" *ngFor="let percorer of posts" [post]="percorer"></app-post-item>

  </div>
</div>
<app-create-post [displayStyle]="displayStyle" (onPostCreated)="createPost($event)" (onPopupClose)="closePopup()" ></app-create-post>

<app-post-form  [data]="actualPost"  [creating]="creatingPost" [displayStyle]="displayStyle" (onSubmitEvent)="onPostFormSubmit($event)" (onPopupClose)="closePopup()" ></app-post-form>
