<nav class="navbar m-auto navbar-expand-lg navbar-brand bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Posts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


      </ul>
      <form class="d-flex">
        <a *ngIf="!userService.isAuthenticated()" routerLink="/signin" class="btn btn-light btn-sm">Sign In</a>
        <a *ngIf="!userService.isAuthenticated()" routerLink="/signup" class="btn btn-light btn-sm">Sign Up</a>
        <button
          *ngIf="userService.isAuthenticated()"
          mat-mini-fab color="warn"
          (click)="logout()">
          <span class="material-icons">logout</span>
        </button>
      </form>
    </div>
  </div>
</nav>
